body{
    background-color: #e0e0e0;
}
.img-logo{
    height: 63px;
    margin-left: 4.5px;
}

.brand-logo{
    margin-left: 5px;
    margin-top: -5px;
}

#nav2{
    margin-top: 41.5px;
}

#table-cont{
    width: 100%;
    border-radius: 10px;
    margin:4px, 4px;
    padding:4px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

#table-cont2{
    width: 50%;
    height: 450px;
    border-radius: 10px;
    margin:4px, 4px;
    padding:4px;
}

.heading{
    text-align: center;
    justify-content: center;
    margin-bottom: 28px;
    font-weight: 500;
}

#heading-color{
    border-radius: 10px 10px 10px 10px;
    background-color: whitesmoke;
    text-align: center;
    justify-content: center;
    margin-bottom: 28px;
    font-weight: 500;
}

#btn{
    margin-top: -6px;
    margin-bottom: -2px;
    height: 61px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 140px;
}


#img-logo2{
    height: 63px;
    margin-left: 4.5px;
}

#nav23{
    margin-top: 41.5px;
}

#viewPage{
    width: 98%;
    height: 450px;
    border-radius: 10px;
    margin-top: 80px;
    margin:4px, 4px;
    padding:4px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    /* background-color: #cfd8dc; */
}

#form-title{
    font-weight: bold;
    font-size: 22px;
    color: black;
}

