body{
    background-color: #e0e0e0;
}
.img-logo{
    height: 62px;
    margin-left: 4.5px;
}

.brand-logo{
    margin-left: 5px;
    margin-top: -5px;
}


#table-cont{
    width: 100%;
    border-radius: 10px;
    margin:4px, 4px;
    padding:4px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

#table-cont2{
    width: 50%;
    height: 450px;
    border-radius: 10px;
    margin:4px, 4px;
    padding:4px;
}

.heading{
    text-align: center;
    justify-content: center;
    margin-bottom: 28px;
    font-weight: 500;
}

#heading-color{
    border-radius: 10px 10px 10px 10px;
    background-color: whitesmoke;
    text-align: center;
    justify-content: center;
    margin-bottom: 28px;
    font-weight: 500;
}

#btn{
    margin-top: -104px;
    margin-bottom: 29px;
    height: 62px;
    width: 140px;
    margin-right: 5px;
}

#btn1{
    margin-right: 1100px;
    width: 140px;
    height: 62px;
    margin-top: -6px;
    margin-bottom: -2px;
}

#btn3{
    height: 62px;
    width: 140px;
    margin-right: 5px;
}


#img-logo2{
    height: 63px;
    margin-left: 4.5px;
}

#viewPage{
    width: 2000px;
    height: 450px;
    border-radius: 10px;
    margin-top: 39px;
    margin:4px, 4px;
    padding:4px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

#form-title{
    font-weight: bold;
    font-size: 22px;
    color: black;
}

#formalert{
    margin-bottom: 60px;
}


.error{
    color:red;
}

textarea.ng-invalid.ng-touched,select.ng-invalid.ng-touched{
    border: 2px solid red;
}

#taskname.ng-invalid.ng-touched{
    border: 2px solid red;
}





