<div ng-controller="navbar2control">
    <header class="navbar">
        <nav class="cyan darken-3" id="nav23">
            <div class="nav">
                <ul class="left hide-on-med-and-down">
                    <li><a ui-sref="#!/page1" class="waves-effect waves-light pink darken-4 btn-large" id="btn1" ng-click="mainFunction()"><i class="material-icons left">arrow_back</i>BACK</a></li>
                <ul class="right hide-on-med-and-down">
                    <li><a ui-sref="#!/page1" class="waves-effect waves-light pink darken-4 btn-large" id="btn" ng-click="thirdFunction()">SUBMIT</a></li>      
            </div>
        </nav>
    </header>
</div>

