<div ng-controller="page1controller">
    <main>
        <div>
            <div class="container" id="table-cont2">
                <div class="row">
                    <div class="col s12" id="heading-color">
                        <h4 class="heading">Employees Task Form</h4>
                    </div>
                    <div>
                        <form>
                            <label for="taskname" id="form-title">TASKNAME: </label>  
                            <input type="text" id="taskname" name="firstname"/><br>
                            <select>
                                Assign: <option ng-repeat="x in names">{{ x.names }}</option>
                            </select>
                            <label id="form-title">ASSIGN: </label>
                            <select class="browser-default">
                              <option ng-repeat="x in names">{{ x.names }}</option>
                            </select><br>
                            <label for="textarea1" id="form-title">COMMENTS: </label>
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <a class="waves-effect waves-light pink darken-4 btn-large right" ui-sref="#!/page2" ng-click="firstFunction()"><i class="material-icons right" id="btn2">check</i>SUBMIT</a>
                        </form>
                    </div>  
                </div>             
            </div>   
    </main>    
</div>